/* * * * * * * * *
Color Scheme: Blue
Background: #348AED //picton blue
Button-bg: #296eb4
Button-border: #01295f
Footer: #202020

Color Scheme: Gray
Background: #202020
Button-bg: #296eb4
Button-border: #01295f


/* * * Generic Style * * */

html {
    margin: 0;
    padding: 0;
    
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    margin: 0;
    padding: 0;

    height: 100%;

    background-color: #202020 /* picton blue */;
}

body * {
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* * * Header/Content/Footer * * */

#header {
    height: 50px;

    top: 0;

    background-color: rgba(255, 255, 255, 0.5);
}

.header-title {
    text-transform: uppercase;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center; 

    padding: 0px;
    height: 100%;

    vertical-align: middle;
    text-align: center;
}

.phase {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

#dc-banner {
    visibility: hidden;

    left: 0; right: 0;
    padding-top: 15px;
    position: absolute;

    width: 100%;
    height: 100px;

    background-color: #ae2922;

    border-top: 2px solid #ef7674;
    border-bottom: 2px solid #ef7674;
    box-shadow: 0px 0px 1000px black;

    transition: opacity 0.2s;
}

#footer {
    display: flex;
    height: 25px !important;
    background-color: black;
}

.copyright {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;

    color: lightgray;
    font-family: Lato, Arial, sans-serif;
    font-size: 10px;
    font-weight: 200;
    
    text-align: center;
}

h1, h2, h3 {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

h2 {
    font-size: 30px
}

p {
    width: 100%;

    text-align: center;
}

/* * * Lobby UI * * */

input {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    width: 80%;
    height: 30px;

    color: black;
    font-size: 25px;
    
    /* border-radius: 20px 0px 20px 0px; */
    border-radius: 10px;
    border: 1px solid white;
}

button {
    margin-top: 10px;

    width: 200px;
    height: 50px;

    background-color: #e67e00;

    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;


    /*border-radius: 20px 0px 20px 0px;*/
    border-radius: 10px;
    border: 1px solid white;
}

#lobby-list {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#lobby-list tbody :first-child {
    border-top-left-radius: 20px;
}

#lobby-list tbody :last-child {
    border-bottom-right-radius: 20px;
}

#lobby-list tr {
    display: block;
    margin: 2px;
    padding: 5px;

    background-color: rgba(255, 255, 255, 0.25);

    font-size: 15px;

    /*border: 2px groove 212922;*/
}

#lobby-list * td {
    display: inline-block;
    width: 100%;
    
    text-align: center;
}

.players {
    margin: 0;
    padding: 0;
}

/* * * Name Colors * * */
.red { color: red; }
.orange { color: orange; }
.yellow { color: yellow; }
.green { color: rgb(0, 167, 14); }
.blue { color: rgb(0, 140, 255); }
.purple { color: rgb(201, 0, 201); }
.violet { color: violet; }
.aqua { color: aqua; }
.white { color: white; }

/* * * Actual Game UI * * */

#wordspud {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-transform: lowercase;
}

.word {
    margin: 0;
    padding: 0;
    display: inline;
    text-transform: lowercase;
    word-wrap: break-word;

    transition: opacity 0.5s;
}

#word1 {
    color: white;
}

#spud {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    word-break: break-all;
}

span {
    display: inline-block;
    padding-left: 2px;
}

#spud * {
    display: inline !important;
}

#spudform {
    width: 100%;
    visibility: hidden;
}

input[name="spudtextbox"] {
    margin-right: 0;
    max-width: 240px;

    font-size: 15px;
    text-transform: lowercase;

    border-radius: 10px 0px 0px 10px;
}

.send-btn {
    margin-left: 0;
    padding: 0;
    width: 32px !important;
    height: 32px !important;
    /*background-color: blue;*/

    border-radius: 0px 10px 10px 0px;
}

#voteform {
    width: 100%;
    visibility: hidden;
}

form {
    transition: opacity 100ms !important;
}

.vote-btn {
    margin: 20px;
    padding: 0;

    width: 60px;
    height: 60px;

    text-align: center;

    border-radius: 100px;
}

.voteyes-btn {
    background-color: #3AB54A;
    font-size: 30px
}

.voteno-btn {
    background-color: #ED1A24;
}

/* * * Ingame Players List * * */

.currentplayer {
    font-size: 20px;
}

.playername {
    text-transform: uppercase;
    font-weight: bold;

    transition: font-size 1s;
}

#ingame-players-list {
    width: 100%;
    position: absolute;
    bottom: 30px;
}

#ingame-players-list tr {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#ingame-players-list td {
    flex-grow: 1;
    flex-basis: 0;
    width: auto;
}

