html, body {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    margin: 0;
    padding: 0;

    height: 100%;

    background-color: #348AED /* picton blue */;
}

body * {
    font-family: Arial, sans-serif;
}

#header {
    height: 50px;

    top: 0;

    background-color: rgba(255, 255, 255, 0.5);
}

#content {
    height: 100%;

    padding: 10px;
}

#footer {
    height: 25px;
    background-color: #202020;
}

.copyright {
    margin: 0;
    padding: 0;

    text-align: center;
    color: white;
    font-size: auto;
    font-weight: 200;
}

#content * {
    /* auto-center everything */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin: 0;
    padding: 5px;
    width: 100%;
    text-align: center;

    color: white;
}

input {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    width: 85%;
    height: 30px;

    font-size: 25px;

    border-radius: 20px 0px 20px 0px;
    border-style: groove;
    border-color: #01295f
}

.submit-btn {
    margin-top: 10px;

    width: 200px;
    height: 50px;

    color: white;
    background-color: #296eb4;

    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;


    border-radius: 20px 0px 20px 0px;
    border-style: groove;
    border-color: #01295f
}